
<div class="row">
  <div class="grid-6 offset-3">
    <div style="width: 100%; text-align: center; padding: 20px 0;">
      <a href="http://<%= Settings.main_site_host %>" class="aid-map-logo"><%= image_tag "partners_horizontal.png", :alt  => "partners map logo", :style => "width: 260px;margin-top: 15px;" %></a>
      <br />
    </div>
    <div class="mod-login">
      <h2 style="color: black; font-size: 30px;">Log In</h2>
      <br />
      <br />
      <%= form_tag session_path do -%>

          <%= label_tag 'email' %>
          <%= text_field_tag 'email', @email, :class=>(flash[:alert] ? "error museo_sans" : "museo_sans") %>
          <%= label_tag 'password' %>
          <%= password_field_tag 'password', nil, :class=>(flash[:alert] ? "error museo_sans" : "museo_sans")%>
          <% if flash[:alert] %>
            <%= raw flash[:alert] %>
          <% end %>
          <%= submit_tag 'Sign in', :id=>'sign-in' %>
          <%= link_to 'Forgot your password?', new_passwords_path, :class=> 'forgot-pass'%><br /><br />
          <%= link_to 'Need an account? Register here!', registration_path, :class=> 'forgot-pass'%>
      <% end -%>
      <div class="footer"></div>
    </div>
  </div>
</div>
